html,body {
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #659DBD;
  box-shadow: 0px 2px 0px black;
  font-size: 120%;
}
#navbar ul {
  display: block;
}
#navbar li {
  display: inline;
  margin: 2em;
}
#navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;  height: 100%;
  text-shadow: 2px 2px 10px black;
  display: inline;
  transition: 0.5s;
}
#navbar a:hover {
  color: black

}
#welcome-section {
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, grey, #81ff41);
  color: white;
  font-size: 140%;
  text-shadow: 2px 2px 10px black;
}
#projects {
  height: 100vh;
  justify-content: center;
  display: grid;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#DAAD86, black);
  color: white;
  font-size: 150%;
  text-shadow: 2px 2px 10px black;
}
#projects h2 {
  display: block;
  align-content: center;
  text-align: center;
}

.project-tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  grid-column-gap: 30px;
  font-size: 125%;
}
.project-tile a {
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-out;
  transition: 0.5s;
  background-color: #659DBD;
  padding: 2em;
  margin: 1em;
  border-radius: 10px;

}
.project-tile a:hover {
  transform: translateY(8px);
  color: black;

}

#contact {
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FBEEC1, grey);
  color: black;
  font-size: 150%;
}
.contact-logos img {
  margin: 1em;
}
#linkedin {
  padding-bottom: 5px;
}



/* MEDIA QUERY SECTION*/
@media  (min-width: 1367px){
  body {
    font-size: 50%;
  }
  #navbar {
    font-size: 250%;
  }
  #welcome-section {
    font-size: 400%;
  }
  #projects {
    font-size: 400%;
  }
  #contact {
    font-size: 400%;
  }
  #linkedin {
    height: 80px;
  }
  #Github {
    height: 90px;
  }
}
