html,body {
  margin: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #659DBD;
  box-shadow: 0px 2px 0px black;
}
#navbar ul {

}
#navbar li {
  display: inline;
  padding-right: 2em;
}
#navbar a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 10px black;
}
#navbar a:hover {
  background-color: blue;
}
#welcome-section {
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg, grey, #81ff41);
  color: white;
  font-size: 140%;
  text-shadow: 2px 2px 10px black;
}
#projects {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#DAAD86, black);
  color: white;
  font-size: 150%;
  text-shadow: 2px 2px 10px black;
}
#projects h3 {
  font-size: 80%;
}
.project-tile {
  display: inline;
}
#contact {
  height: 100vh;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FBEEC1, grey);
  color: black;
  font-size: 150%;
}
.contact-logos img {
  margin: 1em;
}
#linkedin {
  padding-bottom: 5px;
}

/* MEDIA QUERY SECTION*/
@media  (min-width: 1367px){
  body {
    font-size: 150%;
  }
  #navbar {
    font-size: 250%;
  }
  #welcome-section {
    font-size: 400%;
  }
  #projects {
    font-size: 400%;
  }
  #contact {
    font-size: 400%;
  }
  #linkedin {
    height: 80px;
  }
  #Github {
    height: 90px;
  }
}
